includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - pagelean.php
        - src
        - config
    excludePaths:
        - vendor/
    bootstrapFiles:
        - tests/phpstan/constants.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
